@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding:0;
    margin:0;
}

table {
    table-layout: fixed;
    width: 30px;
}

tr {
    height: 180px;
}

td{
    width:7vw;
    border-style:solid;
    border-width: 0.7svw;
    color: gray;
    border-color: gray;
    overflow: hidden;
    cursor:pointer;
}

#container-grid-jogo {
    display: flex;
    justify-content: center;
    font-size:12vh;
    text-align:center;
    margin-bottom: 3vh;
}

#players-scoreboard{
    display:flex;
    justify-content: center;
    margin-left:25vw;
    margin-right:25vw;
}

.scoreboard {
    font-size:3vw;
    display: flex;
    justify-content: center;
    border-radius:10px;
}

.scoreandname_container{
    margin-left:1vw;
    margin-right: 1vw;
    border-radius:10px;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;


}

#p1-scorename {
    background-color: aqua;
}

#p2-scorename {
    background-color: crimson;

}

.score-playername{
    display: flex;
    justify-content: center;
}

body {
    background-color: #24252A;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    margin-bottom: 15px;
}

header h1 {
    text-align: center;
    color: rgb(87, 87, 241);
}

button {
    background-color: rgb(87, 87, 241);
    color: white;
    border: none;
    cursor:pointer;
    text-align: center;
    font-weight: bolder;
    padding: 12px;
    border-radius: 8px;
    margin: 0px 10px 0px 10px;
}

#botoes {
    margin: 25px;
    display: flex;
    justify-content: center;
    margin-left:25vw;
    margin-right:25vw;
}

.centralize {
    display: flex;
    justify-content: center;
}

h2 {
    color: rgb(87, 87, 241);
    margin-bottom: 30px;
}